.link{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}
.active-link{
    color: rgb(26, 155, 235);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}
.nav-btn{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}